* {
  /* outline: 1px dotted red; */
}
/* #region COMMON STYLES */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body,
a {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  /* background-color: rgba(255, 255, 0, 0.2); */
  margin: 0 auto;
}

.container {
  width: 1170px;
  padding: 0 0px;
  margin: 0 auto;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

.btn {
  padding: 12px 24px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.subtitle::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: #303030;
}

/* #endregion */

/* #region HEADER */

.header .container {
  display: flex;
}

.header-slider {
  position: relative;
  flex-grow: 1;
}

.header-sidebar {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

.header-thumb {
  min-width: 1125px;
}

.header-title {
  position: absolute;
  top: 272px;
  left: 100px;
}

.header-buttons {
  position: absolute;
  right: 55px;
  bottom: 40px;
}

.header-btn {
  width: 60px;
  height: 24px;
  border: none;
  font-size: 11px;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.6);
  text-align: start;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.header-btn:hover {
  color: white;
}
.header-btn.end {
  text-align: end;
}

.header-btn::after {
  display: block;
  content: "";
  margin-top: 8px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.header-btn:hover::after {
  background-color: white;
}

.header-btn + .header-btn {
  margin-left: 26px;
}

.header-topline {
  position: absolute;
  font-size: 12px;
  top: 40px;
  left: 0;
  display: flex;
  width: 100%;
  color: white;
  align-items: center;
  padding: 0 40px;
}

.nav-item .nav-link,
.contacts-item .contacts-link {
  color: inherit;
  letter-spacing: 0.1em;
}

.nav-item + .nav-item,
.contacts-item + .contacts-item {
  margin-left: 40px;
}

.nav-link:hover,
.contacts-link:hover {
  color: #ff6c00;
}

.contacts-list {
  margin-left: auto;
  align-items: center;
}

.social-list {
  display: flex;
  margin-left: 27px;
  margin-bottom: 40px;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: 0 100%;
  color: #303030;
}

.social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.social-item + .social-item {
  margin-left: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: inherit;
  line-height: 1.36;
}

.social-item:hover {
  color: #ff6c00;
}

.nav-list,
.contacts-list {
  display: flex;
}

.contacts-link.online {
  display: inline-flex;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.09em;
}

.header-img {
  display: block;
  width: 100%;
}

.header-upname {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 20px;
}

.header-upname::before {
  content: "";
  align-self: center;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}
.header-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: white;
  margin-bottom: 20px;
}

.header-description {
  font-size: 18px;
  color: #9da4bd;
  line-height: 30px;
}

/* #endregion */

/* #region About Us */
.aboutus {
  padding-top: 130px;
  padding-bottom: 130px;
}

.aboutus .container {
  display: flex;
}

.abountus-images {
  display: flex;
  margin-right: 64px;
}
.aboutus-item {
  width: 270px;
}
.aboutus-block {
  padding-right: 36px;
}

.aboutus-item + .aboutus-item {
  margin-left: 30px;
}

.aboutus-img {
  display: block;
  width: 100%;
}

.aboutus-subtitle {
  margin-bottom: 20px;
}
.aboutus-subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}

.aboutus-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  line-height: 49px;
  color: #303030;
  margin-bottom: 20px;
}
.aboutus-accent {
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 20px;
}

.aboutus-text {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

/* .aboutus-btn {
  padding: 12px 24px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
} */
/* #endregion */

/* #region Prices */
.prices {
  padding: 130px 0;
  background-image: url("../Images/prices/img.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(17, 19, 25, 1);
}
.prices-preheader {
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.prices-preheader::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.prices-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #ffffff;
  margin-bottom: 44px;
}
.prices-tables {
  display: flex;
}
.prices-table {
  flex-basis: calc(100% / 2);
  padding: 30px 40px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-table:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-table:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  margin-bottom: 50px;
}

.prices-row td:last-child {
  text-align: right;
}
.prices-row {
  display: flex;
  align-items: baseline;
}

.prices-row + .prices-row {
  margin-top: 20px;
}

.cell-between {
  flex-grow: 1;
  position: relative;
  /* border-bottom: 1px solid rgba(157, 164, 189, 0.12); */
}
.cell-between::before {
  display: block;
  content: "";

  width: calc(100% - 12px);
  margin-left: 6px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices .btn {
  display: block;
  margin: 0 auto;
  color: white;
}

/* #endregion */
/* #region WhyWe? */
.whywe {
  padding-top: 130px;
  padding-bottom: 130px;
}

.whywe .container {
  display: flex;
}

.achives-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 115px;
}

.achives-item {
  text-align: center;
  max-width: 170px;
  padding: 20px;
  background-color: #f7f7f7;
  /* flex-basis: calc(100% / 2); */
}
.achives-item:nth-child(2n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.achives-item:nth-child(2n) {
  margin-top: 30px;
  margin-bottom: 0;
}
.achive-title {
  display: inline;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
  /* margin-bottom: 6px; */
}

.achive-title::after {
  content: "+";
  position: absolute;
  right: -14px;
  top: 7px;

  font-weight: 600;
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
  margin-left: 2px;
}

.achives-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: normal;
  color: #303030;
}

.oldschool {
  padding-left: 15px;
  padding-right: 70px;
}

.oldschool-subtitle {
  margin-bottom: 20px;
}

.oldschool-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;
  margin-bottom: 20px;
}

.oldschool-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.02em;

  color: #555555;
}
/* #endregion */
/* #region MASTERS */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #f7f7f7;
}

.masters-subtitle {
  margin-bottom: 20px;
}
.masters-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
}

.masters-item + .masters-item {
  margin-left: 30px;
}
.masters-thumb {
  margin-bottom: 30px;
}
.masters-name {
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #303030;

  margin-bottom: 8px;
}

.masters-profession {
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;

  margin-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* #endregion */

/* #region BARBA */
.barba {
  padding-top: 130px;
  padding-bottom: 130px;
}

.barba-subtitle {
  margin-bottom: 44px;
}

.barba-list {
  display: flex;
}
.barba-item {
  flex-basis: calc(100% / 4);
}

.barba-item + .barba-item {
  margin-left: 30px;
}

.barba-img {
  display: block;
  width: 100%;
}
/* #endregion */
